@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterNeo.cshtml";
}

@model List<NeoMix.Models.FanArt>

@section metatags
{
<meta property="og:url" content="http://mixturadosneo.com/fanart" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Mixturados - E-Sports ao seu alcance" />
<meta property="og:description" content="Aproveitem as nossas FanArts!" />
<meta property="og:image" content="http://mixturadosneo.com/Images/NeoDesign/capa.png" />
}

@section MainTitle
{
    <h3 style="font-family: Bariol; color: white; font-size: 32px; line-height: 40px;">FANARTS</h3>
}

@section Images
{
    <img src="/Images/NeoDesign/bg/capa.png" alt="Mixturados" style="width: 100%; height: 350px; opacity: 0.4;" />
}

<div id="grid-container" class="full framed row masonry" style="position: relative;">
    @foreach (var n in Model)
    {
        <div class="grid-item six masonry-brick">
            <div class="plain box twelve">
                <section style="height: 375px;">
                    <header>
                        <h3>
                            <a style="color: #32cd32" href="/fanart?id_fanart=@n.Id">@n.Title</a>
                        </h3>
                        <p>@n.Date.ToString("dd/MM/yyyy")</p>
                    </header>
                    <figure>
                        <a href="/fanart?id_fanart=@n.Id">
                            <img style="border-radius: 15px; border: solid #32cd32; height: 300px;" src="@n.Url" alt="@n.Title">
                        </a>
                    </figure>
                </section>
            </div>
        </div>
    }
</div>

<br />
<div class="grid-item twelve masonry-brick" style="top: 0px; left: 0px; height: 150px;">
    <div class="plain box twelve" style="border-left: 1px solid #161616; border-top: 1px solid #161616; height: 100%;">
        <section>
            <article class="twelve columns sub no-padding row shop-categories">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Bloco Topo -->
                <ins class="adsbygoogle"
                    style="display: block"
                    data-ad-client="ca-pub-8858452918865308"
                    data-ad-slot="8412520073"
                    data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </article>
        </section>
    </div>
</div>
