@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MasterNeo.cshtml";
}

@section metatags
{
    <meta property="og:url" content="http://mixturadosneo.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Mixturados - E-Sports ao seu alcance" />
    <meta property="og:description" content="Encontre seu caminho ao Topo" />
    <meta property="og:image" content="http://mixturadosneo.com/Images/NeoDesign/Logo.png" />
}

@section MainTitle
{
    <h3 style="font-family: Bariol; color: white; font-size: 32px; line-height: 40px;"><b>SOBRE NÓS</b></h3>
}

@section Images
{
    <img src="/Images/NeoDesign/bg/capa.png" alt="Mixturados" style="width: 100%; height: 350px; opacity: 0.4;" />
}

<div class="row featured-section content-left">
    <h2 style="color: #FFAE00">Seja Premium</h2>

    <br />

    <p style="font-size: 16px;">Destaque seus eventos! De uma forma <b>Simples</b> e <b>Funcional</b> os seus eventos serão destacados aparecendo sempre entre os primeiros. Logo abaixo segue a tabela com mais detalhes.</p>
</div>

<br />

<div style="padding: 10px;">
    <p style="font-size: 16px;">Entre em contato com o email <b style="color: #FFAE00">contato@mixturadosneo.com</b> teremos prazer de te tirar todas as suas dúvidas. Estamos sempre a sua disposição! ;)</p>

    <div class="twelve columns">
        <article>
            <p>
                <h2 style="color: #FFAE00">Quem Somos</h2>
                <p>
                    <span style="font-size: 16px;">A Mixturados é uma iniciativa de dois gamers, que como muitos, sonham com o sucesso através de seus jogos favoritos. Com uma ideia simples tentamos trazer para os jogadores brasileiros as mais variadas opções de competições espalhadas pela internet.&nbsp;</span><br>
                    <br>
                    <span style="font-size: 16px;">Também queremos ajudar aqueles os organizadores dos eventos divulgando os seus trabalhos de forma clara e objetiva. Se você é um organizador e não encontrou o seu campeonato em nosso site, por favor nos avise clicando <a href="/home/premium">aqui</a>.&nbsp;</span><br>
                    <br>
                    @*<span>Lógicamente com todo o nosso esforço .</span>*@
                </p>
            <p>&nbsp;</p>
            <p style="font-size: 16px;"><strong style="color: #FFAE00">Missão</strong></p>
            <p style="padding-left: 30px; font-size: 16px;">"<em>Acelarar a profissionalização dos jogadores brasileiros, trazendo mais oportunidades e novos conceitos para o mercado gamer brasileiro.</em>"</p>
            <br />
            <br />
            @*           
                <p>
                    <img src="~/Images/PefilNovo.jpg" />
                    <br />
                    <b>Sir Ayrus</b> - Arthur B. de Oliveira programador e gam
                </p>
                *@
        </article>
    </div>

    <h2 style="color: #FFAE00">Nossos Contatos</h2>

    <div class="col-md-8 col-md-offset-2 maincontent">
        <h3 style="color: #FFAE00">Organizador</h3>
        <p style="font-size: 16px;">
            A Mixturados existe para ajudar vocês! Deixe nos expor o seu trabalho para o mundo, se você não achou os seus campeoanatos por favor nos mande um email para <b style="color: #FFAE00">contato@mixturadosneo.com</b>.
        </p>

        <h3 style="color: #FFAE00">Quer nos patrocinar?</h3>
        <p style="font-size: 16px;">
            Estamos sempre abertos a novas oportunidades e sua ajuda será super bem-vinda! Entre em contato com a gente através deste email maroto: <b style="color: #FFAE00">contato@mixturadosneo.com</b>.
        </p>

        <h3 style="color: #FFAE00">Quer que o seu site apareça?</h3>
        <p style="font-size: 16px;">
            Se os campeonatos de seu site não está sendo listado aqui, não se preocupe, só nos dizer qual é o seu site e quais tipos de campeonatos vocês listam, que o nosso super desenvolvedor fará suas mágicas.
        </p>
    </div>
</div>

