@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MasterNeo.cshtml";
}

@section metatags
{
<meta property="og:url" content="http://mixturadosneo.com" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Mixturados - E-Sports ao seu alcance" />
<meta property="og:description" content="Encontre seu caminho ao Topo" />
<meta property="og:image" content="http://mixturadosneo.com/Images/NeoDesign/Logo.png" />
}

@section MainTitle
{
<h3 style="font-family: Bariol; color: white; font-size: 32px; line-height: 40px;"><b>MIXTURADOS</b></h3>
}

@section Images
{
<img src="/Images/NeoDesign/bg/capa.png" alt="Mixturados" style="width: 100%; height: 350px; opacity: 0.4;" />
}

<div class="col-md-8 col-md-offset-2 maincontent">
          <h3>Organizador</h3>
          <p>
            A Mixturados existe para ajudar vocês! Deixe nos expor o seu trabalho para o mundo, se você não achou os seus campeoanatos por favor nos mande um email para <b>contato@mixturadosneo.com</b>.
          </p>

          <h3>Quer nos patrocinar?</h3>
          <p>
            Estamos sempre abertos a novas oportunidades e sua ajuda será super bem-vinda! Entre em contato com a gente através deste email maroto: <b>contato@mixturadosneo.com</b>.
          </p>

          <h3>Quer que o seu site apareça?</h3>
          <p>
            Se os campeonatos de seu site não está sendo listado aqui, não se preocupe, só nos dizer qual é o seu site e quais tipos de campeonatos vocês listam, que o nosso super desenvolvedor fará suas mágicas.
          </p>
    </div>